$white-color: #ffffff;
$main-color: #97bbe3;
$black-color: #000000;
$bg-color: #97bbe3;
$shadow-color: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$small-screen: 200px;
$medium-screen: 480px;
$large-screen: 768px;
$extra-large-screen: 1290px;

$primary-color: #97bbe3;

#contactSection {
  .map {
    margin: 50px 0 20px 0;
  }
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 100px;
    box-shadow: $shadow-color;
    border-radius: 10px;

    .contact-info {
      padding: 30px;
      // width: 500px;
      box-shadow: $shadow-color;
      border-radius: 10px;
      h1 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 0;
      }
      p {
        font-size: 16px;
        text-align: justify;
      }
      ul {
        margin-top: 10px;
        padding: 10px 0 0;
        list-style: none;

        li {
          font-size: 18px;
          font-weight: 500;
          display: flex;
          justify-content: start;

          i {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            color: $black-color;
            background-color: $main-color;
            font-size: 20px;
            border-radius: 50%;

            &:hover {
              color: $white-color;
              background-color: $black-color;
            }
          }
          span {
            padding-top: 4px;
            padding-left: 20px;
          }
          &:not(:first-child) {
            padding-top: 20px;
          }
        }
      }
    }
    .contact_form {
      width: 700px;
      text-align: center;

      .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          width: 100%;
          padding: 20px;
          font-size: 15px;
          height: 20px;
          border-radius: 10px;
          margin: 0.7rem 0;
          background-color: rgb(232, 232, 232);
          color: $black-color;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          border: none;

          &::placeholder {
            color: $black-color;
          }
        }
        .fullname,
        .mobileNo {
          width: 49%;
        }
      }
      textarea {
        width: 100%;
        padding: 20px;
        font-size: 15px;
        border-radius: 10px;
        margin: 0.7rem 0;
        background-color: rgb(232, 232, 232);
        color: $black-color;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border: none;
        &::placeholder {
          color: $black-color;
        }
      }

      .btn {
        cursor: pointer;
        border: 1px solid $main-color;
        // width: 20%;
        // padding: 20px;
        // border-radius: 10px;
      }
      .btn:hover {
        background-color: rgb(255, 115, 115);
        color: red;
        border: 1px solid $main-color;
      }
    }
  }
}

@media screen and (min-width: $small-screen) and (max-width: $medium-screen) {
  #contactSection {
    .map {
      max-width: 480px;
    }
  }
  .contact-container {
    max-width: 450px;
    flex-direction: column;
    .contact-info {
      max-width: 300px;
    }
    .contact_form {
      max-width: 300px;
      // margin: auto;
    }
  }
}
