$white-color: #ffffff;
$main-color: #97bbe3;
$black-color: #000000;
$bg-color: #97bbe3;
$shadow-color: rgba(0, 0, 0, 0.24) 0px 3px 8px;
;

#contactSection {
    .map {
        margin: 50px 0 20px;
        height: 200px;
    }
    display: flex;
    flex-direction: column;
    gap: 120px;

    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 200px;
        box-shadow: $shadow-color;
        border-radius: 10px;
        height: 500px;

        .contact-info {
            padding: 30px;
            width: 400px;
            height: 350px;
            box-shadow: $shadow-color;
            border-radius: 10px;
            margin-bottom: 50px;
            margin-left: 30px;

            h1 {
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            p {
                font-size: 16px;
                text-align: justify;
            }

            ul {
                margin-top: 10px;
                padding: 10px 0 0;
                list-style: none;

                li {
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    justify-content: start;


                    i {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        color: $black-color;
                        background-color: $main-color;
                        font-size: 20px;
                        border-radius: 50%;

                        &:hover {
                            color: $white-color;
                            background-color: $black-color;
                        }
                    }

                    span {
                        padding-top: 4px;
                        padding-left: 20px;
                    }

                    &:not(:first-child) {
                        padding-top: 20px;
                    }
                }
            }
        }

        .contact_form {
            width: 700px;
            text-align: center;

            .input-box {
                display: flex;
                justify-content: space-evenly;
                // align-items: center;
                flex-wrap: wrap;

                input {
                    width: 80%;
                    padding: 20px;
                    font-size: 15px;
                    height: 20px;
                    border-radius: 10px;
                    margin: 0.7rem 0;
                    background-color: rgb(232, 232, 232);
                    color: $black-color;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    border: none;

                    &::placeholder {
                        color: $black-color;
                    }
                }

                .fullname,
                .mobileNo {
                    width: 35%;
                }
            }

            textarea {
                width: 80%;
                padding: 20px;
                font-size: 15px;
                border-radius: 10px;
                margin: 0.7rem 0;
                background-color: rgb(232, 232, 232);
                color: $black-color;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                border: none;

                &::placeholder {
                    color: $black-color;
                }

                margin-bottom: 30px;
            }

            .btn {
                cursor: pointer;
                border: 1px solid $main-color;
                // width: 20%;
                padding: 20px 50px;
                text-align: center;
            }

            .btn:hover {
                background-color: white;
                color: $main-color;
                border: 1px solid $main-color;
            }
        }
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    #contactSection {
        .contact-container {

            .contact-info {
                width: 400px;
                height: 400px;
                margin-left: 20px;
            }
        }
    }
}

@media all and (min-width:486px) and (max-width:767px) {
    #contactSection {
        // gap: 20px;
        flex-direction: column;

        .contact-container {
            height: 850px;
            flex-direction: column;

            .contact-info {
                width: 96%;
                margin: auto;
                height: 330px;

            }

            .contact_form {
                width: 98%;
            }
        }
    }

}

@media all and (min-width:320px) and (max-width:487px) {
    #contactSection {
        // gap: 20px;
        flex-direction: column;

        .contact-container {
            height: 850px;
            width: 300px;
            flex-direction: column;

            .contact-info {
                width: 95%;
                margin: auto;
                height: 330px;
                padding: 15px;

                // margin-left: 10px;
                ul {

                    li {
                        font-size: 18px;
                        font-weight: 500;


                        i {
                            width: 20px;
                            height: 20px;
                            font-size: 10px;
                        }

                        span {

                            font-size: smaller;

                        }

                    }
                }
            }

            .contact_form {
                width: 98%;
            }
        }
    }

}

@media all and (max-width:319px) {
    #contactSection {
        // gap: 20px;
        flex-direction: column;

        .contact-container {
            height: 850px;
            width: 300px;
            flex-direction: column;

            .contact-info {
                width: 95%;
                margin: auto;
                height: 330px;
                padding: 15px;

                // margin-left: 10px;
                ul {

                    li {
                        font-size: 18px;
                        font-weight: 500;


                        i {
                            width: 20px;
                            height: 20px;
                            font-size: 10px;
                        }

                        span {

                            font-size: smaller;

                        }

                    }
                }
            }

            .contact_form {
                width: 98%;
            }
        }
    }

}