$primary-color: #97bbe3;
#exploreSection {
  width: 90%;
  margin: 80px auto;

  // Yash To Add Scss Here Video and form
  #main164 {
    width: 100%;
    border: none;
    box-sizing: border-box;
  }
  #destination {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    #desId {
      width: 100%;
      height: 100%;
      #videoDest {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
      #desId > #videoDest.controls-hidden {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
  #desIdstart {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    h3 {
      color: white;
      font-size: 40px;
    }
    p {
      color: white;
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
    }

    #desIdform {
      width: 60%;
      height: auto;
      margin: auto;
      border-radius: 10px;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .desFormClass {
        flex: 1;
        margin-right: 10px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        select {
          width: 100%;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #fff;
          border: none;
          margin-bottom: 10px;
          cursor: pointer;

          option {
            background-color: #fff;
          }
        }

        input {
          width: 100%;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #fff;
          border: none;
          margin-bottom: 10px;
        }

        input[type="submit"] {
          cursor: pointer;
          width: 100%;
          padding: 10px 15px;
          border-radius: 10px;
          background-color: $primary-color;
          color: black;
          font-weight: bold;
        }
      }
    }
    #serchBtn {
      color: black;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      padding: 10px 20px;
      border-radius: 10px;
      width: 100px;
      cursor: pointer;
      font-weight: 600;
      font-size: 15px;
      &:hover {
        background-color: white;
      }
    }
  }

  @media all and (min-width: 1025px) and (max-width: 1200px) {
    #main164 {
      width: 100%;
      // border: 2px solid rgb(65, 4, 4);
      border: none;
      box-sizing: border-box;
    }

    #destination {
      width: 100%;
      height: 600px;

      font-family: "Bodoni Moda", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      // border: 2px solid rgb(70, 95, 11);
      border: none;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;
      // <uniquifier>: Use a uniquifier for the class name

      #desId {
        width: 100%;
        height: 100%;
        //   overflow: hidden;
        //   object-fit: cover;

        #videoDest {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          transition: opacity 0.3s ease-in-out;
        }

        // #desId >  #videoDest:hover {
        //   opacity: 0.7; /* Adjust as needed */
        // }

        #desId > #videoDest.controls-hidden {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }

    // video end --------
    // FORM start
    #desIdform {
      width: 860px;
      height: 100px;
      // border:1px solid rgb(145, 145, 42);
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    // text part "where do you want visit --start"
    #destination > h3 {
      position: absolute;
      top: 25%;
      left: 25%;
      color: white;
      // transform: translate(-50%, -50%);
      font-size: 47px;
    }

    #destination > p {
      position: absolute;
      top: 36%;
      left: 28%;
      color: white;
      // transform: translate(-50%, -50%);
      font-size: 20px;
      text-align: center;
    }

    // text part "where do you want visit ----end"
    .desFormClass > input {
      padding: 10px 15px;
      border-radius: 10px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .desFormClass > input:hover {
      cursor: pointer;
      background-color: rgb(141, 135, 135);
      color: black;
    }
  }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    #main164 {
      width: 1024px;
      border: none;
      box-sizing: border-box;
    }

    #destination {
      width: 1024px;
      height: 600px;

      font-family: "Bodoni Moda", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      // border: 2px solid rgb(52, 59, 34);
      border: none;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;

      #desId {
        width: 100%;
        height: 100%;
        #videoDest {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          transition: opacity 0.3s ease-in-out;
        }

        #desId > #videoDest.controls-hidden {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
    #desIdform {
      width: 860px;
      height: 100px;
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #destination > h3 {
      position: absolute;
      top: 25%;
      left: 25%;
      color: white;
      font-size: 47px;
    }

    #destination > p {
      position: absolute;
      top: 36%;
      left: 28%;
      color: white;
      font-size: 20px;
      text-align: center;
    }

    .desFormClass > input {
      padding: 10px 15px;
      border-radius: 10px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .desFormClass > input:hover {
      cursor: pointer;
      background-color: rgb(141, 135, 135);
      color: black;
    }

    #travel-select {
      cursor: pointer;
      padding: 10px 15px;
      width: 200px;
      border-radius: 10px;
      border: none;
    }
  }

  @media all and (min-width: 481px) and (max-width: 768px) {
    #card-container {
      .card-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    #main164 {
      width: 768px;
      border: none;
      box-sizing: border-box;
    }

    #destination {
      width: 768px;
      height: 600px;

      font-family: "Bodoni Moda", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      border: none;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;

      #desId {
        width: 100%;
        height: 100%;
        #videoDest {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          transition: opacity 0.3s ease-in-out;
        }

        #desId > #videoDest.controls-hidden {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }

    #desIdform {
      width: 600px;
      height: 150px;
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      text-align: center;
      display: flex;
      align-content: center;
      gap: 10px 10px;
      justify-content: space-evenly;
      align-items: center;
    }

    #destination > h3 {
      position: absolute;
      top: 20%;
      left: 18%;
      color: white;

      font-size: 42px;
    }

    #destination > p {
      position: absolute;
      top: 32%;
      left: 24%;
      color: white;

      font-size: 18px;
      text-align: center;
    }

    .desFormClass > input {
      border-radius: 10px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .desFormClass > input[type="text"] {
      padding: 12px 30px;
      width: 350px;
      height: 14px;
      font-size: 16px;
    }

    .desFormClass > input[type="date"] {
      padding: 12px 30px;
      width: 200px;
      height: 14px;
      font-size: 16px;
    }

    #travel-select {
      cursor: pointer;
      padding: 10px 15px;
      width: 250px;
      border-radius: 10px;
      border: none;
    }

    .desFormClass > input[type="submit"] {
      padding: 12px 25px;
      font-size: 16px;
    }

    .desFormClass > input:hover {
      cursor: pointer;
      background-color: rgb(141, 135, 135);
      color: black;
    }
  }

  @media all and (min-width: 320px) and (max-width: 480px) {
    #main164 {
      width: 480px;

      border: none;
      box-sizing: border-box;
    }

    #destination {
      width: 480px;
      height: 600px;

      font-family: "Bodoni Moda", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;

      border: none;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;

      #desId {
        width: 100%;
        height: 100%;

        #videoDest {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          transition: opacity 0.3s ease-in-out;
        }

        #desId > #videoDest.controls-hidden {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }

    #desIdform {
      width: 480px;
      height: 250px;
      // border:1px solid rgb(219, 219, 49);
      border: none;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      text-align: center;
      display: flex;
      align-content: center;
      gap: 10px 10px;
      justify-content: space-evenly;
      align-items: center;
    }

    // text part "where do you want visit --start"
    #destination > h3 {
      position: absolute;
      top: 25%;
      left: 12%;
      color: white;
      font-size: 30px;
    }

    #destination > p {
      position: absolute;
      top: 32%;
      left: 15%;
      color: rgb(241, 239, 239);

      font-size: 15px;
      text-align: center;
    }

    .desFormClass > input,
    label {
      border-radius: 10px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .desFormClass > input[type="text"] {
      padding: 12px 30px;
      width: 350px;
      height: 14px;
      font-size: 16px;
    }

    .desFormClass > input[type="date"] {
      padding: 12px 30px;
      width: 350px;
      height: 14px;
      font-size: 16px;
    }

    #travel-select {
      cursor: pointer;
      padding: 11px 15px;
      width: 405px;
      border-radius: 10px;
      border: none;
    }

    .desFormClass > input[type="submit"] {
      padding: 12px 25px;
      font-size: 16px;
    }

    .desFormClass > input:hover {
      cursor: pointer;
      background-color: rgb(141, 135, 135);
      color: black;
    }

    #card-container {
      .card-list {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  #card-container {
    .card-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      margin: 20px 0 50px 0px;
      .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: white;
        font-size: 20px;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        gap: 4%;
        text-align: center;
        margin-top: 70px;
        img {
          width: 100%;
          padding: 0;
          height: 230px;
          object-fit: cover;
          border-radius: 10px 10px 0px 0px;
        }
        .name {
          padding: 16px 0px;
          font-size: 22px;
          text-align: center;
        }
        .description {
          text-align: justify;
          padding: 20px;
        }
        .price_rating {
          display: flex;
          justify-content: space-between;
          width: 80%;
          margin: 8px auto;
        }
        .bookbtn {
          padding: 15px 40px;
          margin: 15px 0px;
          border: none;
          color: #fff;
          font-size: 16px;
          background-color: red;
          border-radius: 8px;
          cursor: pointer;
        }
        .bookbtn:hover {
          background-color: #fd6363;
          font-size: 16px;
          transform: translateY(3px);
        }
      }
      .card:hover {
        transform: translateY(5px);
      }
    }
  }
  #seeMoreCardBtn {
    background-color: $primary-color;
    padding: 15px 40px;
    color: black;
    border: 1px solid $primary-color;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 600;
    width: 15%;
    margin-left: 580px;
    &:hover {
      background-color: white;
    }
  }
}
