$small-screen: 200px;
$medium-screen: 480px;
$large-screen: 768px;
$extra-large-screen: 1290px;

* {
  background: none;
  list-style-type: none;
}

.footy {
  padding: 30px;
  background-color: black;

  footer {
    width: 90%;
    margin: auto;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    .fleft-y {
      display: flex;
      padding: 20px;
      gap: 80px;

      .Company-y,
      .rs {
        ul {
          margin: 10px 0;

          li {
            margin: 10px 0;
            font-size: 18px;

            a {
              color: gray;
            }
          }
        }
      }

      .Company-y,
      .rs {
        ul {
          li:hover {
            a {
              color: rgb(188, 188, 188);
            }
          }
        }
      }

      .social {
        margin-top: 30px;

        .icon {
          padding-top: 14px;
          margin-top: 16px;
          display: flex;
          gap: 40px;
          div {
            display: flex;
            flex-direction: column;
            gap: 30px;
          }

          div {
            a:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .fright-y {
      margin-top: 6%;

      h1 {
        margin-bottom: 18px;
    
      }
      .cty {
        display: flex;
        gap: 30px;
        div {
          margin: 15px 0;

          p {
            color: gray;
            font-size: 18px;
            margin: 5px 0px;
          }
        }
      }
    }
  }

  .bottom-brand {
    padding: 40px 0 0 0;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    a:hover {
      transform: scale(0.9);
    }
  }
}

@media screen and (min-width:320px) and (max-width:480px) {


  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;

    gap: 30px;
  }

  .footy {

    footer {
      flex-wrap: wrap;

      .fleft-y {
        justify-content: center;
        align-items: center;

        >.Company-y {
          font-size: 18px;
          margin-left: 0px;
        }

        >.rs {
          margin-left: 0px;

          >.social {

            font-size: 18px;

          }

        }

      }

      .fright-y {

        margin-top: 24px;

        h1 {
          text-align: left;
          font-size: 18px;

        }

        .cty {
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: flex-start;

          >div>h2 {
            font-size: 16px;
          }

          >div:nth-child(2) {
            margin-top: -18px;

          }

          p {
            font-size: 16px;

          }
        }
      }
    }
  }

}

@media screen and (min-width:481px) and (max-width:768px) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }

  .footy {

    footer {
      flex-wrap: wrap;

      .fleft-y {
        justify-content: center;
        align-items: center;

        >.Company-y {
          font-size: 18px;
          margin-left: 0;
        }

        >.rs {
          margin-left: 0;

          >.social {

            font-size: 18px;

          }

        }

      }

      .fright-y {

        margin-top: 24px;

        h1 {
          text-align: left;
          font-size: 20px;

        }

        .cty {
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: flex-start;

          >div:nth-child(2) {
            margin-top: -18px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (min-width:769px) and (max-width:1024px) {

  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }

  .footy {

    footer {
      flex-wrap: wrap;

      .fleft-y {
        justify-content: center;
        align-items: center;

        >.Company-y {
          font-size: 18px;
        }

        >.rs {

          font-size: 18px;

          >.social {
            font-size: 18px;
          }
        }
      }

      .fright-y {
        margin-top: 24px;

        h1 {
          text-align: center;
          font-size: 20px;
        }

        .cty {
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: flex-start;

          >div:nth-child(2) {
            margin-top: -18px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }

    >.bottom-brand {
      >a>img {
        width: 80px;
        height: 50px
      }

      >a:nth-child(4)>img {
        width: 105px;
        height: 50px;
      }

    }



  }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }

  .footy {
    footer {
      flex-wrap: wrap;

      .fleft-y {
        justify-content: center;
        align-items: center;
      }

      .fright-y {
        margin-top: 26px;

        h1 {
          text-align: center;
          font-size: 25px;
        }

        .cty {
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: flex-start;

          >div:nth-child(2) {
            margin-top: -18px;
          }

          p {
            font-size: 22px;
          }
        }
      }
    }
  }
}