$small-screen: 200px;
$medium-screen: 480px;
$large-screen: 768px;
$extra-large-screen: 1290px;
* {
  background: none;
  list-style-type: none;
}

.footy {
  padding: 30px;
  background-color: black;
  footer {
    width: 90%;
    margin: auto;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    .fleft-y {
      display: flex;
      padding: 20px;
      // justify-content: space-between;
      gap: 80px;
      .Company-y,
      .rs {
        ul {
          margin: 10px 0;
          li {
            margin: 10px 0;
            font-size: 18px;
            a {
              color: gray;
            }
          }
        }
      }
      .Company-y,
      .rs {
        ul {
          li:hover {
            a {
              color: rgb(188, 188, 188);
            }
          }
        }
      }

      .social {
        margin-top: 30px;

        .icon {
          padding-top: 14px;
          margin-top: 16px;
          display: flex;
          gap: 40px;
          // justify-content: space-between;
          div {
            display: flex;
            flex-direction: column;
            gap: 30px;
            // justify-content: space-between;
          }
          div {
            a:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
    .fright-y {
      margin-top: 6%;
      h1 {
        margin-bottom: 30px;
        // font-size: 42px;
      }
      .cty {
        display: flex;
        // justify-content: space-between;
        gap: 30px;
        // align-items: center;
        div {
          margin: 30px 0;
          p {
            color: gray;
            font-size: 18px;
            margin: 5px 0px;
          }
        }
      }
    }
  }
  .bottom-brand {
    padding: 40px 0 0 0;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    a:hover {
      transform: scale(1.5);
    }
  }
}

@media screen and (min-width: $small-screen) and (max-width: $medium-screen) {
  // Your styles for small to medium screens

  .cardConatiner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footy {
    footer {
      flex-direction: column;
      .fleft-y {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .fright-y {
        // margin-top: 10px;

        h1 {
          text-align: center;
          font-size: 22px;
        }
        .cty {
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: center;
          p {
            font-size: 22px;
            text-align: center;
          }
        }
      }
    }
    .bottom-brand {
      flex-direction: column;
      // margin: auto;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

@media screen and (min-width: $medium-screen) and (max-width: $large-screen) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
    // flex-direction: column;
  }
  .footy {
    footer {
      flex-direction: column;
      .fleft-y {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .fright-y {
        // margin-top: 10px;

        h1 {
          text-align: center;
          font-size: 22px;
        }
        .cty {
          flex-direction: column;
          justify-content: center;
          justify-items: center;
          align-items: center;
          p {
            font-size: 22px;
            text-align: center;
          }
        }
      }
    }
    .bottom-brand {
      flex-direction: column;
      // margin: auto;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

@media screen and (min-width: $large-screen) and (max-width: $extra-large-screen) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }
  .footy {
    footer {
      flex-wrap: wrap;
      .fleft-y {
        justify-content: center;
        align-items: center;
      }
      .fright-y {
        h1 {
          text-align: center;
          font-size: 26px;
        }
        .cty {
          flex-direction: column;

          justify-content: center;
          justify-items: center;
          align-items: flex-start;
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
}
