* {
  padding: 0%;
  margin: 0%;
}

#main164 {
  width: 1363px;
  border: none;
  box-sizing: border-box;
}

#destination {
  width: 1363px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border: none;
  box-sizing: border-box;
  position: relative;
}
#destination #desId {
  width: 100%;
  height: 100%;
}
#destination #desId #videoDest {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
#destination #desId #desId > #videoDest.controls-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#desIdform {
  width: 860px;
  height: 100px;
  border: none;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#destination > h3 {
  position: absolute;
  top: 25%;
  left: 36%;
  color: white;
  font-size: 47px;
}

#destination > p {
  position: absolute;
  top: 36%;
  left: 40%;
  color: white;
  font-size: 20px;
  text-align: center;
}

#travel-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.desFormClass > input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

#travel-select {
  cursor: pointer;
  padding: 10px 15px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

#travel-select option:checked {
  background-color: grey;
}

@media all and (min-width: 1025px) and (max-width: 1200px) {
  #main164 {
    width: 1200px;
    border: none;
    box-sizing: border-box;
  }
  #destination {
    width: 1200px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #destination #desId {
    width: 100%;
    height: 100%;
  }
  #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #desIdform {
    width: 860px;
    height: 100px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #destination > h3 {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 47px;
  }
  #destination > p {
    position: absolute;
    top: 36%;
    left: 28%;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .desFormClass > input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #main164 {
    width: 1024px;
    border: none;
    box-sizing: border-box;
  }
  #destination {
    width: 1024px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #destination #desId {
    width: 100%;
    height: 100%;
  }
  #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #desIdform {
    width: 860px;
    height: 100px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #destination > h3 {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 47px;
  }
  #destination > p {
    position: absolute;
    top: 36%;
    left: 28%;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .desFormClass > input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
  #travel-select {
    cursor: pointer;
    padding: 10px 15px;
    width: 200px;
    border-radius: 10px;
    border: none;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #main164 {
    width: 768px;
    border: none;
    box-sizing: border-box;
  }
  #destination {
    width: 768px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #destination #desId {
    width: 100%;
    height: 100%;
  }
  #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #desIdform {
    width: 600px;
    height: 150px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    align-content: center;
    gap: 10px 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  #destination > h3 {
    position: absolute;
    top: 20%;
    left: 18%;
    color: white;
    font-size: 42px;
  }
  #destination > p {
    position: absolute;
    top: 32%;
    left: 24%;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  .desFormClass > input {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .desFormClass > input[type=text] {
    padding: 12px 30px;
    width: 350px;
    height: 14px;
    font-size: 16px;
  }
  .desFormClass > input[type=date] {
    padding: 12px 30px;
    width: 200px;
    height: 14px;
    font-size: 16px;
  }
  #travel-select {
    cursor: pointer;
    padding: 10px 15px;
    width: 250px;
    border-radius: 10px;
    border: none;
  }
  .desFormClass > input[type=submit] {
    padding: 12px 25px;
    font-size: 16px;
  }
  .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
}
@media all and (min-width: 320px) and (max-width: 480px) {
  #main164 {
    width: 480px;
    border: none;
    box-sizing: border-box;
  }
  #destination {
    width: 480px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #destination #desId {
    width: 100%;
    height: 100%;
  }
  #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #desIdform {
    width: 480px;
    height: 250px;
    border: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    align-content: center;
    gap: 10px 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  #destination > h3 {
    position: absolute;
    top: 25%;
    left: 12%;
    color: white;
    font-size: 30px;
  }
  #destination > p {
    position: absolute;
    top: 32%;
    left: 15%;
    color: rgb(241, 239, 239);
    font-size: 15px;
    text-align: center;
  }
  .desFormClass > input, label {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .desFormClass > input[type=text] {
    padding: 12px 30px;
    width: 350px;
    height: 14px;
    font-size: 16px;
  }
  .desFormClass > input[type=date] {
    padding: 12px 30px;
    width: 350px;
    height: 14px;
    font-size: 16px;
  }
  #travel-select {
    cursor: pointer;
    padding: 11px 15px;
    width: 405px;
    border-radius: 10px;
    border: none;
  }
  .desFormClass > input[type=submit] {
    padding: 12px 25px;
    font-size: 16px;
  }
  .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
}
#countBody {
  width: 1363px;
  height: 500px;
  color: white;
  background-color: black;
  border: none;
  box-sizing: border-box;
  text-align: center;
}
#countBody h3 {
  font-size: 50px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: lighter;
  font-variation-settings: "wdth" 100;
  border: none;
  display: inline-block;
  margin-top: 30px;
}

#travelP {
  font-size: 25px;
  margin-top: 10px;
  border: none;
  width: 75%;
  text-align: center;
  margin-left: 180px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#countingStart {
  border: none;
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  margin: 100px 0px 0px 390px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.counter-section {
  text-align: center;
  width: 100%;
}

.counter-section > h2 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 10px;
}

.counter-section > p {
  font-size: 34px;
}

@media all and (min-width: 1025px) and (max-width: 1200px) {
  #countBody {
    width: 1200px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #countBody h3 {
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
  }
  #travelP {
    font-size: 25px;
    margin-top: 10px;
    border: none;
    width: 75%;
    text-align: center;
    margin-left: 150px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #countingStart {
    border: none;
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 290px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  .counter-section > h2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  .counter-section > p {
    font-size: 34px;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #countBody {
    width: 1024px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #countBody h3 {
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
  }
  #travelP {
    font-size: 25px;
    margin-top: 10px;
    border: none;
    width: 75%;
    text-align: center;
    margin-left: 150px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #countingStart {
    border: none;
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 200px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  .counter-section > h2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  .counter-section > p {
    font-size: 34px;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #countBody {
    width: 768px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #countBody h3 {
    font-size: 42px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
    margin-left: 15px;
  }
  #travelP {
    font-size: 18px;
    margin-top: 10px;
    border: none;
    width: 80%;
    text-align: center;
    margin-left: 86px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #countingStart {
    border: none;
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 120px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  .counter-section > h2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  .counter-section > p {
    font-size: 34px;
  }
}
@media all and (min-width: 320px) and (max-width: 480px) {
  #countBody {
    width: 480px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #countBody h3 {
    font-size: 35px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
    margin-left: 15px;
  }
  #travelP {
    font-size: 16px;
    margin-top: 10px;
    border: none;
    width: 83%;
    text-align: center;
    margin-left: 50px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #countingStart {
    border: none;
    width: 380px;
    height: 150px;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 62px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  .counter-section > h2 {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  .counter-section > p {
    font-size: 30px;
  }
}/*# sourceMappingURL=main164.css.map */