* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color: #fdfdfd;
}
section {
    display: none;
    margin-top: 70px;
}
section.active {
    display: block;
}

@import "scss/navbar";
@import "scss/home";
@import "scss/modal";