* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #fdfdfd;
  scroll-behavior: smooth;
}

section {
  display: none;
  margin-top: 70px;
}

section.active {
  display: block;
}

.btn {
  background-color: #97bbe3;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 15px 5%;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}
nav h2 {
  color: black;
  cursor: pointer;
}
nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar a {
  font-size: 20px;
  margin: 0 10px;
  font-weight: 600;
  color: black;
}
nav .navbar a:hover {
  color: #97bbe3;
}
nav #signIn {
  background-color: white;
  border: 1px solid #97bbe3;
}
nav #signIn:hover {
  background-color: #97bbe3;
}
nav #signUp:hover {
  background-color: white;
  border: 1px solid #97bbe3;
}
nav #hamburger {
  display: none;
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  nav .navbar a {
    font-size: 17px;
  }
}

#homeSection {
  width: 100%;
  margin-top: 68px;
  padding: 0 5%;
}
#homeSection h1 {
  font-size: 113px;
  margin-top: 70px;
}
#homeSection .container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#homeSection .container .left > img {
  width: 650px;
  height: 500px;
  border-radius: 10px;
}
#homeSection .container .right {
  flex-basis: 50%;
}
#homeSection .container .right p {
  text-align: justify;
  color: #484a3e;
}
#homeSection .container .right .slider {
  display: flex;
  margin-top: 30px;
}
#homeSection .container .arrow-link {
  position: relative;
  display: inline-block;
  padding-right: 90px;
  color: #97bbe3;
  margin-top: 30px;
  font-size: 18px;
}
#homeSection .container .arrow-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 2px;
  background-color: #97bbe3;
  transform: translateY(-50%);
}
#homeSection .container .arrow-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #97bbe3;
  transform: translateY(-50%);
}
#homeSection .pd {
  margin-top: 50px;
  text-align: center;
}
#homeSection .pd h1 {
  font-size: 42px;
  font-weight: bold;
}
#homeSection .pd p {
  margin-top: 10px;
  font-size: 22px;
  color: gray;
}
#homeSection .cardConatiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}
#homeSection .cardConatiner .card-y {
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s;
  overflow: hidden;
}
#homeSection .cardConatiner .card-y img {
  width: 260px;
  height: 310px;
}
#homeSection .cardConatiner .card-y h3 {
  color: rgb(231, 231, 231);
  position: absolute;
  bottom: 0;
  left: 0;
  background: none;
  padding: 12px;
}
#homeSection .cardConatiner .card-y:hover {
  transform: translateY(-20px);
}
#homeSection #countBody {
  width: 1363px;
  height: 500px;
  color: white;
  background-color: black;
  border: none;
  box-sizing: border-box;
  text-align: center;
}
#homeSection #countBody h3 {
  font-size: 50px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: lighter;
  font-variation-settings: "wdth" 100;
  border: none;
  display: inline-block;
  margin-top: 30px;
}
#homeSection #travelP {
  font-size: 25px;
  margin-top: 10px;
  border: none;
  width: 75%;
  text-align: center;
  margin-left: 180px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#homeSection #countingStart {
  border: none;
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  margin: 100px 0px 0px 390px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#homeSection .counter-section {
  text-align: center;
  width: 100%;
}
#homeSection .counter-section > h2 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 10px;
}
#homeSection .counter-section > p {
  font-size: 34px;
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
  #homeSection #countBody {
    width: 1200px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #homeSection #countBody h3 {
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
  }
  #homeSection #travelP {
    font-size: 25px;
    margin-top: 10px;
    border: none;
    width: 75%;
    text-align: center;
    margin-left: 150px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection #countingStart {
    border: none;
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 290px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  #homeSection .counter-section > h2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  #homeSection .counter-section > p {
    font-size: 34px;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #homeSection #countBody {
    width: 1024px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #homeSection #countBody h3 {
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
  }
  #homeSection #travelP {
    font-size: 25px;
    margin-top: 10px;
    border: none;
    width: 75%;
    text-align: center;
    margin-left: 150px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection #countingStart {
    border: none;
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 200px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  #homeSection .counter-section > h2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  #homeSection .counter-section > p {
    font-size: 34px;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #homeSection #countBody {
    width: 768px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #homeSection #countBody h3 {
    font-size: 42px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
    margin-left: 15px;
  }
  #homeSection #travelP {
    font-size: 18px;
    margin-top: 10px;
    border: none;
    width: 80%;
    text-align: center;
    margin-left: 86px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection #countingStart {
    border: none;
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 120px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  #homeSection .counter-section > h2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  #homeSection .counter-section > p {
    font-size: 34px;
  }
}
@media all and (min-width: 320px) and (max-width: 480px) {
  #homeSection #countBody {
    width: 480px;
    height: 500px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
    text-align: center;
  }
  #homeSection #countBody h3 {
    font-size: 35px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    font-variation-settings: "wdth" 100;
    border: none;
    display: inline-block;
    margin-top: 53px;
    margin-left: 15px;
  }
  #homeSection #travelP {
    font-size: 16px;
    margin-top: 10px;
    border: none;
    width: 83%;
    text-align: center;
    margin-left: 50px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection #countingStart {
    border: none;
    width: 380px;
    height: 150px;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 0px 0px 62px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  #homeSection .counter-section {
    text-align: center;
    width: 100%;
    border: none;
  }
  #homeSection .counter-section > h2 {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
  }
  #homeSection .counter-section > p {
    font-size: 30px;
  }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .cardConatiner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footy footer {
    flex-direction: column;
  }
  .footy footer .fleft-y {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footy footer .fright-y h1 {
    text-align: center;
    font-size: 22px;
  }
  .footy footer .fright-y .cty {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .footy footer .fright-y .cty p {
    font-size: 22px;
    text-align: center;
  }
  .footy .bottom-brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
  }
  .footy footer {
    flex-direction: column;
  }
  .footy footer .fleft-y {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footy footer .fright-y h1 {
    text-align: center;
    font-size: 22px;
  }
  .footy footer .fright-y .cty {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .footy footer .fright-y .cty p {
    font-size: 22px;
    text-align: center;
  }
  .footy .bottom-brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1290px) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }
  .footy footer {
    flex-wrap: wrap;
  }
  .footy footer .fleft-y {
    justify-content: center;
    align-items: center;
  }
  .footy footer .fright-y h1 {
    text-align: center;
    font-size: 26px;
  }
  .footy footer .fright-y .cty {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
  }
  .footy footer .fright-y .cty p {
    font-size: 22px;
  }
}
#aboutImg {
  background-image: url(../images/templeImage.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

#about-section {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 50px;
}
#about-section #about-para {
  height: 220px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#about-section #about-para #about-para1 {
  font-size: large;
}
#about-section #about-para #about-para2 {
  font-size: medium;
}
#about-section #about-img {
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

#img-faq {
  display: flex;
  gap: 100px;
  width: 90%;
  margin: auto;
  margin-top: 80px;
}
#img-faq #left-img-faq {
  background-image: url(../images/templeImage.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 500px;
  margin-left: 40px;
  border-radius: 5px;
}
#img-faq #right-faq {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#img-faq #right-faq #h1-faq {
  text-align: center;
}
#img-faq #right-faq .faq-container {
  max-width: 600px;
  margin: 0 auto;
}
#img-faq #right-faq .faq-container .question {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
#img-faq #right-faq .faq-container .question:hover {
  background-color: #e0e0e0;
  border-radius: 2px;
}
#img-faq #right-faq .faq-container .question .icon {
  cursor: pointer;
}
#img-faq #right-faq .faq-container .answer {
  display: none;
  padding: 10px;
  background-color: #fff;
}
#img-faq #right-faq .faq-container .answer:hover {
  background-color: #dee2e4;
}

@media all and (max-width: 1024px) {
  #img-faq {
    flex-direction: column;
  }
  #img-faq #left-img-faq {
    height: 200px;
    width: 300px;
    margin-left: 25px;
  }
}
#exploreSection #main164 {
  width: 100%;
  border: none;
  box-sizing: border-box;
}
#exploreSection #destination {
  width: 100%;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border: none;
  box-sizing: border-box;
  position: relative;
}
#exploreSection #destination #desId {
  width: 100%;
  height: 100%;
}
#exploreSection #destination #desId #videoDest {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
#exploreSection #destination #desId #desId > #videoDest.controls-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#exploreSection #desIdform {
  width: 860px;
  height: 100px;
  border: none;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#exploreSection #destination > h3 {
  position: absolute;
  top: 25%;
  left: 36%;
  color: white;
  font-size: 47px;
}
#exploreSection #destination > p {
  position: absolute;
  top: 36%;
  left: 40%;
  color: white;
  font-size: 20px;
  text-align: center;
}
#exploreSection #travel-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
#exploreSection .desFormClass > input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}
#exploreSection #travel-select {
  cursor: pointer;
  padding: 10px 15px;
  width: 200px;
  border-radius: 10px;
  border: none;
}
#exploreSection #travel-select option:checked {
  background-color: grey;
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
  #exploreSection #main164 {
    width: 100%;
    border: none;
    box-sizing: border-box;
  }
  #exploreSection #destination {
    width: 100%;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #exploreSection #destination #desId {
    width: 100%;
    height: 100%;
  }
  #exploreSection #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #desIdform {
    width: 860px;
    height: 100px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #exploreSection #destination > h3 {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 47px;
  }
  #exploreSection #destination > p {
    position: absolute;
    top: 36%;
    left: 28%;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  #exploreSection .desFormClass > input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #exploreSection .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #exploreSection #main164 {
    width: 1024px;
    border: none;
    box-sizing: border-box;
  }
  #exploreSection #destination {
    width: 1024px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #exploreSection #destination #desId {
    width: 100%;
    height: 100%;
  }
  #exploreSection #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #desIdform {
    width: 860px;
    height: 100px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #exploreSection #destination > h3 {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 47px;
  }
  #exploreSection #destination > p {
    position: absolute;
    top: 36%;
    left: 28%;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  #exploreSection .desFormClass > input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #exploreSection .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
  #exploreSection #travel-select {
    cursor: pointer;
    padding: 10px 15px;
    width: 200px;
    border-radius: 10px;
    border: none;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #exploreSection #main164 {
    width: 768px;
    border: none;
    box-sizing: border-box;
  }
  #exploreSection #destination {
    width: 768px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #exploreSection #destination #desId {
    width: 100%;
    height: 100%;
  }
  #exploreSection #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #desIdform {
    width: 600px;
    height: 150px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    align-content: center;
    gap: 10px 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  #exploreSection #destination > h3 {
    position: absolute;
    top: 20%;
    left: 18%;
    color: white;
    font-size: 42px;
  }
  #exploreSection #destination > p {
    position: absolute;
    top: 32%;
    left: 24%;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  #exploreSection .desFormClass > input {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #exploreSection .desFormClass > input[type=text] {
    padding: 12px 30px;
    width: 350px;
    height: 14px;
    font-size: 16px;
  }
  #exploreSection .desFormClass > input[type=date] {
    padding: 12px 30px;
    width: 200px;
    height: 14px;
    font-size: 16px;
  }
  #exploreSection #travel-select {
    cursor: pointer;
    padding: 10px 15px;
    width: 250px;
    border-radius: 10px;
    border: none;
  }
  #exploreSection .desFormClass > input[type=submit] {
    padding: 12px 25px;
    font-size: 16px;
  }
  #exploreSection .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
}
@media all and (min-width: 320px) and (max-width: 480px) {
  #exploreSection #main164 {
    width: 480px;
    border: none;
    box-sizing: border-box;
  }
  #exploreSection #destination {
    width: 480px;
    height: 600px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }
  #exploreSection #destination #desId {
    width: 100%;
    height: 100%;
  }
  #exploreSection #destination #desId #videoDest {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #destination #desId #desId > #videoDest.controls-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #exploreSection #desIdform {
    width: 480px;
    height: 250px;
    border: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: flex;
    align-content: center;
    gap: 10px 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  #exploreSection #destination > h3 {
    position: absolute;
    top: 25%;
    left: 12%;
    color: white;
    font-size: 30px;
  }
  #exploreSection #destination > p {
    position: absolute;
    top: 32%;
    left: 15%;
    color: rgb(241, 239, 239);
    font-size: 15px;
    text-align: center;
  }
  #exploreSection .desFormClass > input, #exploreSection label {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #exploreSection .desFormClass > input[type=text] {
    padding: 12px 30px;
    width: 350px;
    height: 14px;
    font-size: 16px;
  }
  #exploreSection .desFormClass > input[type=date] {
    padding: 12px 30px;
    width: 350px;
    height: 14px;
    font-size: 16px;
  }
  #exploreSection #travel-select {
    cursor: pointer;
    padding: 11px 15px;
    width: 405px;
    border-radius: 10px;
    border: none;
  }
  #exploreSection .desFormClass > input[type=submit] {
    padding: 12px 25px;
    font-size: 16px;
  }
  #exploreSection .desFormClass > input:hover {
    cursor: pointer;
    background-color: rgb(141, 135, 135);
    color: black;
  }
}
#exploreSection .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: yellow;
}

/* Sign-up Modal */
#signUpModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
#signUpModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  width: 30%;
  animation: slideIn 0.5s ease-in-out;
  position: relative;
  border-radius: 10px;
}
#signUpModal .modal-content .close {
  color: black;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
#signUpModal .modal-content .close:hover, #signUpModal .modal-content .close:focus {
  color: black;
  text-decoration: none;
}
#signUpModal .modal-content .signUp {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#signUpModal .modal-content .signUp h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
#signUpModal .modal-content .signUp form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#signUpModal .modal-content .signUp form .rows {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
#signUpModal .modal-content .signUp form label {
  font-size: 14px;
  color: #000000;
}
#signUpModal .modal-content .signUp form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
#signUpModal .modal-content .signUp form input:focus {
  border-color: #97bbe3;
}
#signUpModal .modal-content .signUp form input[type=submit] {
  width: 30%;
  margin: 0 auto;
  background-color: #97bbe3;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  border: 1px solid #97bbe3;
}
#signUpModal .modal-content .signUp form input[type=submit]:hover {
  background-color: white;
  color: #97bbe3;
  border: 1px solid #97bbe3;
}
#signUpModal .modal-content .signUp .social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#signUpModal .modal-content .signUp .social-icons .social-icon {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
#signUpModal .modal-content .signUp .social-icons .social-icon img {
  width: 35px;
  height: 35px;
}
#signUpModal .modal-content .signUp .social-icons .social-icon:hover {
  transform: scale(1.2);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

/* Sign-in Modal */
#signInModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
#signInModal .modal-content {
  background-color: #fefefe;
  margin: 7% auto;
  width: 30%;
  animation: slideIn 0.5s ease-in-out;
  position: relative;
  border-radius: 10px;
}
#signInModal .modal-content .close {
  color: black;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
#signInModal .modal-content .close:hover, #signInModal .modal-content .close:focus {
  color: black;
  text-decoration: none;
}
#signInModal .modal-content .signIn {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#signInModal .modal-content .signIn h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
#signInModal .modal-content .signIn form {
  display: flex;
  flex-direction: column;
}
#signInModal .modal-content .signIn form label {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
}
#signInModal .modal-content .signIn form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
#signInModal .modal-content .signIn form input:focus {
  border-color: #97bbe3;
}
#signInModal .modal-content .signIn form input[type=submit] {
  width: 30%;
  margin: 0 auto;
  background-color: #97bbe3;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  border: 1px solid #97bbe3;
}
#signInModal .modal-content .signIn form input[type=submit]:hover {
  background-color: white;
  color: #97bbe3;
  border: 1px solid #97bbe3;
}
#signInModal .modal-content .signIn .social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#signInModal .modal-content .signIn .social-icons .social-icon {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
#signInModal .modal-content .signIn .social-icons .social-icon img {
  width: 35px;
  height: 35px;
}
#signInModal .modal-content .signIn .social-icons .social-icon:hover {
  transform: scale(1.2);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

#contactSection .map {
  margin: 50px 0 20px;
}
#contactSection .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#contactSection .contact-container .contact-info {
  padding: 30px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#contactSection .contact-container .contact-info h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
#contactSection .contact-container .contact-info p {
  font-size: 16px;
  text-align: justify;
}
#contactSection .contact-container .contact-info ul {
  margin-top: 10px;
  padding: 10px 0 0;
  list-style: none;
}
#contactSection .contact-container .contact-info ul li {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: start;
}
#contactSection .contact-container .contact-info ul li i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #000000;
  background-color: #97bbe3;
  font-size: 20px;
  border-radius: 50%;
}
#contactSection .contact-container .contact-info ul li i:hover {
  color: #ffffff;
  background-color: #000000;
}
#contactSection .contact-container .contact-info ul li span {
  padding-top: 4px;
  padding-left: 20px;
}
#contactSection .contact-container .contact-info ul li:not(:first-child) {
  padding-top: 20px;
}
#contactSection .contact-container .contact_form {
  width: 700px;
  text-align: center;
}
#contactSection .contact-container .contact_form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contactSection .contact-container .contact_form .input-box input {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  height: 20px;
  border-radius: 10px;
  margin: 0.7rem 0;
  background-color: rgb(232, 232, 232);
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
}
#contactSection .contact-container .contact_form .input-box input::placeholder {
  color: #000000;
}
#contactSection .contact-container .contact_form .input-box .fullname,
#contactSection .contact-container .contact_form .input-box .mobileNo {
  width: 49%;
}
#contactSection .contact-container .contact_form textarea {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  margin: 0.7rem 0;
  background-color: rgb(232, 232, 232);
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
}
#contactSection .contact-container .contact_form textarea::placeholder {
  color: #000000;
}
#contactSection .contact-container .contact_form .btn {
  cursor: pointer;
  border: 1px solid #97bbe3;
  width: 20%;
}
#contactSection .contact-container .contact_form .btn:hover {
  background-color: white;
  color: #97bbe3;
  border: 1px solid #97bbe3;
}

* {
  background: none;
  list-style-type: none;
}

.footy {
  padding: 30px;
  background-color: black;
}
.footy footer {
  width: 90%;
  margin: auto;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.footy footer .fleft-y {
  display: flex;
  padding: 20px;
  gap: 80px;
}
.footy footer .fleft-y .Company-y ul,
.footy footer .fleft-y .rs ul {
  margin: 10px 0;
}
.footy footer .fleft-y .Company-y ul li,
.footy footer .fleft-y .rs ul li {
  margin: 10px 0;
  font-size: 18px;
}
.footy footer .fleft-y .Company-y ul li a,
.footy footer .fleft-y .rs ul li a {
  color: gray;
}
.footy footer .fleft-y .Company-y ul li:hover a,
.footy footer .fleft-y .rs ul li:hover a {
  color: rgb(188, 188, 188);
}
.footy footer .fleft-y .social {
  margin-top: 30px;
}
.footy footer .fleft-y .social .icon {
  padding-top: 14px;
  margin-top: 16px;
  display: flex;
  gap: 40px;
}
.footy footer .fleft-y .social .icon div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footy footer .fleft-y .social .icon div a:hover {
  transform: scale(1.5);
}
.footy footer .fright-y {
  margin-top: 6%;
}
.footy footer .fright-y h1 {
  margin-bottom: 30px;
}
.footy footer .fright-y .cty {
  display: flex;
  gap: 30px;
}
.footy footer .fright-y .cty div {
  margin: 30px 0;
}
.footy footer .fright-y .cty div p {
  color: gray;
  font-size: 18px;
  margin: 5px 0px;
}
.footy .bottom-brand {
  padding: 40px 0 0 0;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footy .bottom-brand a:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .cardConatiner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footy footer {
    flex-direction: column;
  }
  .footy footer .fleft-y {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footy footer .fright-y h1 {
    text-align: center;
    font-size: 22px;
  }
  .footy footer .fright-y .cty {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .footy footer .fright-y .cty p {
    font-size: 22px;
    text-align: center;
  }
  .footy .bottom-brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
  }
  .footy footer {
    flex-direction: column;
  }
  .footy footer .fleft-y {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footy footer .fright-y h1 {
    text-align: center;
    font-size: 22px;
  }
  .footy footer .fright-y .cty {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .footy footer .fright-y .cty p {
    font-size: 22px;
    text-align: center;
  }
  .footy .bottom-brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1290px) {
  .cardConatiner {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }
  .footy footer {
    flex-wrap: wrap;
  }
  .footy footer .fleft-y {
    justify-content: center;
    align-items: center;
  }
  .footy footer .fright-y h1 {
    text-align: center;
    font-size: 26px;
  }
  .footy footer .fright-y .cty {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
  }
  .footy footer .fright-y .cty p {
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
