* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #fdfdfd;
  scroll-behavior: smooth;
}

section {
  display: none;
  margin-top: 70px;
}

section.active {
  display: block;
}

.btn {
  background-color: #97bbe3;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 15px 5%;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}
nav h2 {
  color: black;
  cursor: pointer;
}
nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar a {
  font-size: 20px;
  margin: 0 10px;
  font-weight: 600;
  color: black;
}
nav .navbar a:hover {
  color: #97bbe3;
}
nav #signIn {
  background-color: white;
  border: 1px solid #97bbe3;
}
nav #signIn:hover {
  background-color: #97bbe3;
}
nav #signUp:hover {
  background-color: white;
  border: 1px solid #97bbe3;
}
nav #hamburger {
  display: none;
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  nav .navbar a {
    font-size: 17px;
  }
}

#homeSection {
  width: 100%;
  margin-top: 68px;
  padding: 0 5%;
}
#homeSection h1 {
  font-size: 113px;
  margin-top: 70px;
}
#homeSection .container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#homeSection .container .left > img {
  width: 650px;
  height: 500px;
  border-radius: 10px;
}
#homeSection .container .right {
  flex-basis: 50%;
}
#homeSection .container .right p {
  text-align: justify;
  color: #484a3e;
}
#homeSection .container .right .slider {
  display: flex;
  margin-top: 30px;
}
#homeSection .container .arrow-link {
  position: relative;
  display: inline-block;
  padding-right: 90px;
  color: #97bbe3;
  margin-top: 30px;
  font-size: 18px;
}
#homeSection .container .arrow-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 2px;
  background-color: #97bbe3;
  transform: translateY(-50%);
}
#homeSection .container .arrow-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #97bbe3;
  transform: translateY(-50%);
}

/* Sign-up Modal */
#signUpModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
#signUpModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  width: 30%;
  animation: slideIn 0.5s ease-in-out;
  position: relative;
  border-radius: 10px;
}
#signUpModal .modal-content .close {
  color: black;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
#signUpModal .modal-content .close:hover, #signUpModal .modal-content .close:focus {
  color: black;
  text-decoration: none;
}
#signUpModal .modal-content .signUp {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#signUpModal .modal-content .signUp h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
#signUpModal .modal-content .signUp form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#signUpModal .modal-content .signUp form .rows {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
#signUpModal .modal-content .signUp form label {
  font-size: 14px;
  color: #000000;
}
#signUpModal .modal-content .signUp form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
#signUpModal .modal-content .signUp form input:focus {
  border-color: #97bbe3;
}
#signUpModal .modal-content .signUp form input[type=submit] {
  width: 30%;
  margin: 0 auto;
  background-color: #97bbe3;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  border: 1px solid #97bbe3;
}
#signUpModal .modal-content .signUp form input[type=submit]:hover {
  background-color: white;
  color: #97bbe3;
  border: 1px solid #97bbe3;
}
#signUpModal .modal-content .signUp .social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#signUpModal .modal-content .signUp .social-icons .social-icon {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
#signUpModal .modal-content .signUp .social-icons .social-icon img {
  width: 35px;
  height: 35px;
}
#signUpModal .modal-content .signUp .social-icons .social-icon:hover {
  transform: scale(1.2);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

/* Sign-in Modal */
#signInModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
#signInModal .modal-content {
  background-color: #fefefe;
  margin: 7% auto;
  width: 30%;
  animation: slideIn 0.5s ease-in-out;
  position: relative;
  border-radius: 10px;
}
#signInModal .modal-content .close {
  color: black;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
#signInModal .modal-content .close:hover, #signInModal .modal-content .close:focus {
  color: black;
  text-decoration: none;
}
#signInModal .modal-content .signIn {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#signInModal .modal-content .signIn h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
#signInModal .modal-content .signIn form {
  display: flex;
  flex-direction: column;
}
#signInModal .modal-content .signIn form label {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
}
#signInModal .modal-content .signIn form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
#signInModal .modal-content .signIn form input:focus {
  border-color: #97bbe3;
}
#signInModal .modal-content .signIn form input[type=submit] {
  width: 30%;
  margin: 0 auto;
  background-color: #97bbe3;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  border: 1px solid #97bbe3;
}
#signInModal .modal-content .signIn form input[type=submit]:hover {
  background-color: white;
  color: #97bbe3;
  border: 1px solid #97bbe3;
}
#signInModal .modal-content .signIn .social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#signInModal .modal-content .signIn .social-icons .social-icon {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
#signInModal .modal-content .signIn .social-icons .social-icon img {
  width: 35px;
  height: 35px;
}
#signInModal .modal-content .signIn .social-icons .social-icon:hover {
  transform: scale(1.2);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

#contactSection .map {
  margin: 50px 0 20px;
}
#contactSection .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#contactSection .contact-container .contact-info {
  padding: 30px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#contactSection .contact-container .contact-info h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
#contactSection .contact-container .contact-info p {
  font-size: 16px;
  text-align: justify;
}
#contactSection .contact-container .contact-info ul {
  margin-top: 10px;
  padding: 10px 0 0;
  list-style: none;
}
#contactSection .contact-container .contact-info ul li {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: start;
}
#contactSection .contact-container .contact-info ul li i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #000000;
  background-color: #97bbe3;
  font-size: 20px;
  border-radius: 50%;
}
#contactSection .contact-container .contact-info ul li i:hover {
  color: #ffffff;
  background-color: #000000;
}
#contactSection .contact-container .contact-info ul li span {
  padding-top: 4px;
  padding-left: 20px;
}
#contactSection .contact-container .contact-info ul li:not(:first-child) {
  padding-top: 20px;
}
#contactSection .contact-container .contact_form {
  width: 700px;
  text-align: center;
}
#contactSection .contact-container .contact_form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contactSection .contact-container .contact_form .input-box input {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  height: 20px;
  border-radius: 10px;
  margin: 0.7rem 0;
  background-color: rgb(232, 232, 232);
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
}
#contactSection .contact-container .contact_form .input-box input::placeholder {
  color: #000000;
}
#contactSection .contact-container .contact_form .input-box .fullname,
#contactSection .contact-container .contact_form .input-box .mobileNo {
  width: 49%;
}
#contactSection .contact-container .contact_form textarea {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  margin: 0.7rem 0;
  background-color: rgb(232, 232, 232);
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
}
#contactSection .contact-container .contact_form textarea::placeholder {
  color: #000000;
}
#contactSection .contact-container .contact_form .btn {
  cursor: pointer;
  border: 1px solid #97bbe3;
  width: 20%;
}
#contactSection .contact-container .contact_form .btn:hover {
  background-color: white;
  color: #97bbe3;
  border: 1px solid #97bbe3;
}

/*# sourceMappingURL=style.css.map */
