* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color: #fdfdfd;
    scroll-behavior: smooth;
}
section {
    display: none;
    margin-top: 70px;
}
section.active {
    display: block;
}

@import "scss/_navbar";
@import "scss/_home";
@import "scss/_about";
@import "scss/explore";
@import "scss/booking";
@import "scss/_modal";
@import "scss/_contact";
@import "scss/_footer"